<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Renewal date setting</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
    {% comment %} <link rel="stylesheet" href="{% static 'catalog/css/styles.css' %}" /> {% endcomment %}
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3"></div>

    <h1 class="col-sm-6 border-start border-info border-5" style="padding-left: 10px;">Renewal date setting</h1>

    <div class="col-sm-3"></div>

</div>
</div>
<hr>
    <div class="container">
      <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <ul class="sidebar-nav">
            <li>
              <a href="http://127.0.0.1:8000/catalog/book/e1456b10-9f02-47dd-bdaf-9b5df2b4778a/renew/">英文課本</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/catalog/book/dc0b02c6-4796-42a0-aef0-a8fa63c8aab2/renew/">管理數學</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/catalog/book/ae65e642-5a37-40d5-8303-0c279b3c73bf/renew/">課文選</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/catalog/book/81115708-dd5a-4ac6-a2bf-03edf123b546/renew/">社會課本</a>
            </li>
            <li>
              <a href="http://127.0.0.1:8000/catalog/book/4c567321-e343-431f-894a-51e799ba171b/renew/">自然課本</a>
            </li>
          </ul>
          <a href="/">回首頁</a>
        </div>
        <div class="col-sm-3"></div>
      </div>
    </div>
  </body>
</html>
